<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
  <title>Dynamic Database-Driven Web App</title>
</head>
<body>
  <div id="container">
    <h1>Job APPlication</h1>
    <img src="/static/career.jpg" alt="suit man" height="320" id="banner">
    <h2>About</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae labore consequatur 
    facilis ut nesciunt esse dignissimos possimus molestiae quia eveniet. 
    Sapiente ut consectetur alias doloremque dolores neque distinctio laudantium aliquid. 
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam quos provident expedita 
    velit ipsum sequi facilis 
    cum rem voluptatibus soluta repudiandae, earum odio saepe hic et, pariatur laudantium, 
    minima a. Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus provident 
    sit autem obcaecati nemo eveniet explicabo blanditiis, reiciendis similique quisquam 
    sed consequatur 
    repellat aspernatur suscipit, itaque, vel officiis velit libero!</p>
    <h2>Open positions</h2>
    <p>TODO - show some jobs here</p>
    <div style="text-align: center;">
      <button>Contact us</button>
    </div>
    

  </div>
</body>
</html>